<!DOCTYPE html>
<html>
<head>
  <title>Rainforest</title>
  <link href='http://fonts.googleapis.com/css?family=Sniglet|Ruluko' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to (image_tag "rainforest_logo.png", class: "logo"), products_path %>

<div class="add_product_button">
  <div class="add_product_link">
    <%= link_to "+", new_product_path %>
  </div>
</div>

<div class="user_panel">
  <ul>
    <li>Log In</li>
    <li><%= link_to "Register Account", users_new_path %></li>
  </ul>
</div>

<%= yield %>

</body>
</html>
